{
	"openapi": "3.1.0",
	"info": {
		"title": "apidoc",
		"description": "",
		"version": "1.0.0"
	},
	"tags": [],
	"servers": [
		{
			"url": "https://user.pmock.com/api",
			"description": "Generated server url"
		}
	],
	"paths": {
		"/open/api/product/list": {
			"get": {
				"summary": "Get product list",
				"deprecated": false,
				"description": "get product information list",
				"tags": [],
				"parameters": [],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListProductInfoVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"spuId": 0,
													"spuName": "",
													"skuList": [
														{
															"skuId": 0,
															"skuName": "",
															"chargeType": 0,
															"cycle": 0,
															"cycleName": "",
															"isAutoRenewal": false,
															"cyclePrice": 0,
															"skuExtraPriceList": [
																{
																	"id": 0,
																	"name": "",
																	"price": 0,
																	"cycleName": ""
																}
															]
														}
													]
												}
											],
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"spuId": 0,
													"spuName": "",
													"skuList": [
														{
															"skuId": 0,
															"skuName": "",
															"chargeType": 0,
															"cycle": 0,
															"cycleName": "",
															"isAutoRenewal": "true",
															"cyclePrice": 0,
															"skuExtraPriceList": [
																{
																	"id": 0,
																	"name": "",
																	"price": 0,
																	"cycleName": ""
																}
															]
														}
													]
												}
											],
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/create": {
			"post": {
				"summary": "Create phone",
				"deprecated": false,
				"description": "create a mobile phone",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneCreateReqVOCreate",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/list": {
			"get": {
				"summary": "Get phone list",
				"deprecated": false,
				"description": "get phone page list",
				"tags": [],
				"parameters": [
					{
						"name": "nameOrCode",
						"in": "query",
						"description": "phone name or phone number",
						"required": false,
						"schema": {
							"type": "string",
							"maxLength": 32
						}
					},
					{
						"name": "spuId",
						"in": "query",
						"description": "phone spuId, The `spuId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "skuId",
						"in": "query",
						"description": "phone skuId, The `skuId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "phone status, The `status` value contained in the current interface's returned result, 1=normal,2=restart,4=powerOff,41=powerOn,6=reset,7=One-click New Device",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "authorizeUserIds",
						"in": "query",
						"description": "Authorized User ID list, The `userId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "integer"
							}
						}
					},
					{
						"name": "expireStatus",
						"in": "query",
						"description": "Billing (expired) status: 0=expired, 1=normal",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "skuName",
						"in": "query",
						"description": "sku name, The `skuName` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "networkId",
						"in": "query",
						"description": "phone network ID, The `networkId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "groupId",
						"in": "query",
						"description": "phone grouping ID list, The `groupId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "groupCode",
						"in": "query",
						"description": "phone group code, Value is all_group=All groups,renew_expired=After the renewal period,un_group=Not grouped",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "groupType",
						"in": "query",
						"description": "phone group type, Value is system_group=System grouping,custom_group=Custom grouping",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "realResolution",
						"in": "query",
						"description": "Whether it is real machine resolution 0- No, 1- real machine resolution",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoPhonePageListResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"total": 0,
											"rows": [
												{
													"id": 0,
													"name": "",
													"groupId": 0,
													"groupName": "",
													"code": "",
													"spuId": 0,
													"spuName": "",
													"skuId": 0,
													"phoneModel": "",
													"phoneBrand": "",
													"adbIp": "",
													"adbPort": "",
													"adbPassword": "",
													"payType": 0,
													"skuName": "",
													"cycleName": "",
													"cycleEnum": "",
													"expireStatus": 0,
													"networkId": 0,
													"channel": "",
													"powerOnTime": "",
													"powerOffTime": "",
													"expireTime": "",
													"expireDuration": "",
													"nextPayTime": "",
													"status": 0,
													"remark": "",
													"userId": 0,
													"createUser": "",
													"createTime": "",
													"updateTime": "",
													"networkResVO": {
														"host": "",
														"port": 0,
														"account": "",
														"password": "",
														"region": "",
														"num": 0,
														"countryCode": "",
														"countryName": "",
														"type": "",
														"timezone": "",
														"language": "",
														"ip": "",
														"latitude": "",
														"longitude": "",
														"bindCount": 0,
														"status": 0,
														"detectDataType": 0,
														"groupId": 0,
														"remark": ""
													},
													"authorizeResVO": {
														"avatar": "",
														"name": "",
														"userId": 0
													},
													"cycle": 0
												}
											],
											"code": 0,
											"msg": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"total": 0,
											"rows": [
												{
													"id": 0,
													"name": "",
													"groupId": 0,
													"groupName": "",
													"code": "",
													"spuId": 0,
													"spuName": "",
													"skuId": 0,
													"phoneModel": "",
													"phoneBrand": "",
													"adbIp": "",
													"adbPort": "",
													"adbPassword": "",
													"payType": 0,
													"skuName": "",
													"cycleName": "",
													"cycleEnum": "",
													"expireStatus": 0,
													"networkId": 0,
													"channel": "",
													"powerOnTime": "",
													"powerOffTime": "",
													"expireTime": "",
													"expireDuration": "",
													"nextPayTime": "",
													"status": 0,
													"remark": "",
													"userId": 0,
													"createUser": "",
													"createTime": "",
													"updateTime": "",
													"networkResVO": {
														"host": "",
														"port": 0,
														"account": "",
														"password": "",
														"region": "",
														"num": 0,
														"countryCode": "",
														"countryName": "",
														"type": "",
														"timezone": "",
														"language": "",
														"ip": "",
														"latitude": "",
														"longitude": "",
														"bindCount": 0,
														"status": 0,
														"detectDataType": 0,
														"groupId": 0,
														"remark": ""
													},
													"authorizeResVO": {
														"avatar": "",
														"name": "",
														"userId": 0
													},
													"cycle": 0
												}
											],
											"code": 0,
											"msg": ""
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/resolution/list": {
			"get": {
				"summary": "Get phone resolution list",
				"deprecated": false,
				"description": "get phone resolution list",
				"tags": [],
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"description": "Phone status, 1=normal,2=restart,4=powerOff,41=powerOn,6=reset,7=One-click New Device",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "spuId",
						"in": "query",
						"description": "spuId",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListPhoneResolutionListResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"screenWidth": "",
													"screenHeight": ""
												}
											],
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"screenWidth": "",
													"screenHeight": ""
												}
											],
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/task/status": {
			"get": {
				"summary": "Get phone task status",
				"deprecated": false,
				"description": "check the status of phone tasks",
				"tags": [],
				"parameters": [
					{
						"name": "operateType",
						"in": "query",
						"description": "Phone operation type: powerOn, reset, restart, renew",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "phoneId",
						"in": "query",
						"description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RPhoneTaskStatusResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskStatus": 0,
												"taskStatusName": "",
												"phoneStatus": 0,
												"phoneStatusName": ""
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskStatus": 0,
												"taskStatusName": "",
												"phoneStatus": 0,
												"phoneStatusName": ""
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/setNetwork": {
			"post": {
				"summary": "Phone network settings",
				"deprecated": false,
				"description": "phone network settings",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneSetNetworkReqVOUpdate",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/remove": {
			"post": {
				"summary": "Delete phone",
				"deprecated": false,
				"description": "delete phone",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVODelete",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/start": {
			"post": {
				"summary": "Power on",
				"deprecated": false,
				"description": "phone power on",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVOUpdate",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RPhoneStartResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"screenWidth": "",
												"screenHeight": "",
												"taskId": 0
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"screenWidth": "",
												"screenHeight": "",
												"taskId": 0
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/stop": {
			"post": {
				"summary": "Power off",
				"deprecated": false,
				"description": "phone power off",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/restart": {
			"post": {
				"summary": "Restart phone",
				"deprecated": false,
				"description": "restart phone",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/reset": {
			"post": {
				"summary": "Factory Reset",
				"deprecated": false,
				"description": "factory reset",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/oneNew": {
			"post": {
				"summary": "One-Click New Device Setup",
				"deprecated": false,
				"description": "One-Click New Device Setup",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/clear": {
			"post": {
				"summary": "Phone accelerate",
				"deprecated": false,
				"description": "phone accelerate",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/getAdbInfo": {
			"post": {
				"summary": "Get ADB information",
				"deprecated": false,
				"description": "get ADB information",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneGetAdbInfoVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RPhoneAdbInfoResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"phoneId": 0,
												"adbIp": "",
												"adbPort": "",
												"adbPassword": ""
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"phoneId": 0,
												"adbIp": "",
												"adbPort": "",
												"adbPassword": ""
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/file/scan": {
			"post": {
				"summary": "Phone file scan",
				"deprecated": false,
				"description": "scan the mobile file directory",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiPhoneFileScanReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiPhoneFileScanPageResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"parentDir": "",
												"fileList": {
													"traceId": "",
													"total": 0,
													"rows": [
														{
															"path": "",
															"name": "",
															"type": 0,
															"size": 0,
															"convertSize": ""
														}
													],
													"code": 0,
													"msg": ""
												}
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"parentDir": "",
												"fileList": {
													"traceId": "",
													"total": 0,
													"rows": [
														{
															"path": "",
															"name": "",
															"type": 0,
															"size": 0,
															"convertSize": ""
														}
													],
													"code": 0,
													"msg": ""
												}
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/file/download": {
			"post": {
				"summary": "Phone file download",
				"deprecated": false,
				"description": "download mobile files to local device",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiPhoneFileDownloadReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiPhoneFileDownloadResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"downId": "",
												"taskId": 0
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"downId": "",
												"taskId": 0
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/minio/init/task": {
			"post": {
				"summary": "Initialize upload task",
				"deprecated": false,
				"description": "initialize upload task",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UploadTaskInitReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RUploadTaskInfoVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"finished": false,
												"path": "",
												"taskRecord": {
													"teamId": 0,
													"uploadId": "",
													"fileIdentifier": "",
													"fileName": "",
													"bucketName": "",
													"objectKey": "",
													"totalSize": 0,
													"chunkSize": 0,
													"chunkNum": 0,
													"expireTime": "",
													"exitPartList": [
														{
															"partNumber": 0,
															"lastModified": "",
															"eTag": "",
															"size": 0
														}
													]
												}
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"finished": false,
												"uploadType": "",
												"taskRecord": {
													"teamId": 0,
													"uploadId": "",
													"fileIdentifier": "",
													"fileName": "",
													"bucketName": "",
													"objectKey": "",
													"totalSize": 0,
													"chunkSize": 0,
													"chunkNum": 0,
													"expireTime": "",
													"uploadInfo": [
														{
															"partNumber": 0,
															"uploadUrl": ""
														}
													],
													"exitPartList": [
														{
															"partNumber": 0,
															"lastModified": "",
															"eTag": "",
															"size": 0
														}
													]
												}
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/completeAndPush": {
			"post": {
				"summary": "Complete and push",
				"deprecated": false,
				"description": "merge shards&push to mobile phone",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiUploadMinIOReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiUploadFileResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"phoneId": 0,
												"envFileId": 0,
												"taskId": 0
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"phoneId": 0,
												"envFileId": 0,
												"taskId": 0
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/getRemoteToken": {
			"post": {
				"summary": "Get remote token",
				"deprecated": false,
				"description": "get remote connection token",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiRemoteTokenReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListApiRemoteTokenResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"phoneId": 0,
													"teamId": 0,
													"status": 0,
													"token": {},
													"errorMsg": "",
													"chargeType": 0,
													"nextPayTime": ""
												}
											],
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"phoneId": 0,
													"teamId": 0,
													"status": 0,
													"token": {},
													"errorMsg": "",
													"chargeType": 0,
													"nextPayTime": ""
												}
											],
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/list": {
			"post": {
				"summary": "Get app list",
				"deprecated": false,
				"description": "get app list",
				"tags": [],
				"parameters": [
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneAppListReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoAppListV2ResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"total": 0,
											"rows": [
												{
													"id": 0,
													"apkName": "",
													"apkPkg": "",
													"apkIconUrl": "",
													"installStatus": 0,
													"cateCode": 0,
													"weight": 0,
													"needUpdate": false,
													"appVersionList": [
														{
															"id": 0,
															"apkVersionName": "",
															"apkVersionCode": 0,
															"installStatus": 0,
															"size": 0,
															"shelfStatus": 0,
															"md5": ""
														}
													],
													"shelfStatus": 0
												}
											],
											"code": 0,
											"msg": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"total": 0,
											"rows": [
												{
													"id": 0,
													"apkName": "",
													"apkPkg": "",
													"apkIconUrl": "",
													"installStatus": "-1",
													"cateCode": "-1",
													"weight": "0",
													"needUpdate": "false",
													"appVersionList": [
														{
															"id": 0,
															"apkVersionName": "",
															"apkVersionCode": 0,
															"installStatus": "-1",
															"size": 0,
															"shelfStatus": "0",
															"md5": ""
														}
													],
													"shelfStatus": 0
												}
											],
											"code": 0,
											"msg": ""
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/categoryList": {
			"get": {
				"summary": "Get app category list",
				"deprecated": false,
				"description": "get app category list",
				"tags": [],
				"parameters": [],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListAppCategoryVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"code": 0,
													"name": ""
												}
											],
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"code": 0,
													"name": ""
												}
											],
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/install": {
			"post": {
				"summary": "Phone install app",
				"deprecated": false,
				"description": "phone install app",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneAppInstallReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/listUpgradeApp": {
			"post": {
				"summary": "Get can upgrade app list",
				"deprecated": false,
				"description": "get can upgrade app list",
				"tags": [],
				"parameters": [
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoAppListV2ResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"total": 0,
											"rows": [
												{
													"id": 0,
													"apkName": "",
													"apkPkg": "",
													"apkIconUrl": "",
													"installStatus": 0,
													"cateCode": 0,
													"weight": 0,
													"needUpdate": false,
													"appVersionList": [
														{
															"id": 0,
															"apkVersionName": "",
															"apkVersionCode": 0,
															"installStatus": 0,
															"size": 0,
															"shelfStatus": 0,
															"md5": ""
														}
													],
													"shelfStatus": 0
												}
											],
											"code": 0,
											"msg": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"total": 0,
											"rows": [
												{
													"id": 0,
													"apkName": "",
													"apkPkg": "",
													"apkIconUrl": "",
													"installStatus": "-1",
													"cateCode": "-1",
													"weight": "0",
													"needUpdate": "false",
													"appVersionList": [
														{
															"id": 0,
															"apkVersionName": "",
															"apkVersionCode": 0,
															"installStatus": "-1",
															"size": 0,
															"shelfStatus": "0",
															"md5": ""
														}
													],
													"shelfStatus": 0
												}
											],
											"code": 0,
											"msg": ""
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/operate": {
			"post": {
				"summary": "Phone app operation",
				"deprecated": false,
				"description": "operation application (start/stop/restart/uninstall)",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneAppOperateReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": null,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/task/info/list": {
			"post": {
				"summary": "Get task info list",
				"deprecated": false,
				"description": "batch query task information (up to 100 items per query)",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TaskStatusListReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListTaskInfoResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"id": 0,
													"phoneId": 0,
													"teamId": 0,
													"userId": 0,
													"opType": "",
													"apkPkg": "",
													"apkVersionCode": 0,
													"downloadUrl": "",
													"status": 0,
													"startTime": "",
													"endTime": "",
													"remark": ""
												}
											],
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"id": 0,
													"phoneId": 0,
													"teamId": 0,
													"userId": 0,
													"opType": "",
													"apkPkg": "",
													"apkVersionCode": 0,
													"downloadUrl": "",
													"status": 0,
													"startTime": "",
													"endTime": "",
													"remark": ""
												}
											],
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/brand/list": {
			"post": {
				"summary": "Get list brand",
				"deprecated": false,
				"description": "get a list of supported mobile phone brands",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneBrandListReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListPhoneBrandListResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"brand": "",
													"resolutions": [
														{
															"width": 0,
															"height": 0
														}
													]
												}
											],
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": [
												{
													"brand": "",
													"resolutions": [
														{
															"width": 0,
															"height": 0
														}
													]
												}
											],
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/network/list": {
			"get": {
				"summary": "Get network list",
				"deprecated": false,
				"description": "",
				"tags": [],
				"parameters": [
					{
						"name": "host",
						"in": "query",
						"description": "proxy network ip/domain The `host` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "num",
						"in": "query",
						"description": "The `num` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "remark",
						"in": "query",
						"description": "remark",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "groupId",
						"in": "query",
						"description": "The `groupId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "groupCode",
						"in": "query",
						"description": "Network system packet code, all_group=All groups,renew_expired=After the renewal period,un_group=Not grouped",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "groupType",
						"in": "query",
						"description": "Network Packet Type, system_group=System grouping,custom_group=Custom grouping",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoNetworkListResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"total": 0,
											"rows": [
												{
													"id": 0,
													"name": "",
													"num": 0,
													"groupId": 0,
													"groupName": "",
													"host": "",
													"port": 0,
													"account": "",
													"password": "",
													"type": "",
													"status": 0,
													"detectDataType": 0,
													"bindCount": 0,
													"boxBindCount": 0,
													"countryCode": "",
													"timezone": "",
													"language": "",
													"countryName": "",
													"region": "",
													"latitude": "",
													"longitude": "",
													"ip": "",
													"remark": "",
													"createTime": "",
													"updateTime": ""
												}
											],
											"code": 0,
											"msg": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"total": 0,
											"rows": [
												{
													"id": 0,
													"name": "",
													"num": 0,
													"groupId": 0,
													"groupName": "",
													"host": "",
													"port": 0,
													"account": "",
													"password": "",
													"type": "",
													"status": 0,
													"detectDataType": 0,
													"bindCount": 0,
													"boxBindCount": 0,
													"countryCode": "",
													"timezone": "",
													"language": "",
													"countryName": "",
													"region": "",
													"latitude": "",
													"longitude": "",
													"ip": "",
													"remark": "",
													"createTime": "",
													"updateTime": ""
												}
											],
											"code": 0,
											"msg": ""
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/getPhoneModelList": {
			"post": {
				"summary": "Get the list of models",
				"deprecated": false,
				"description": "",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiPhoneModelListReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RMapListApiPhoneModelInfoResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"": [
													{
														"model": "",
														"modelId": 0,
														"deviceName": ""
													}
												]
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"": [
													{
														"model": "",
														"modelId": 0,
														"deviceName": ""
													}
												]
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/click": {
			"post": {
				"summary": "phone operate - click",
				"deprecated": false,
				"description": "phone operate - click",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ClickActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/doubleClick": {
			"post": {
				"summary": "phone operate - double click",
				"deprecated": false,
				"description": "phone operate - double click",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DoubleClickActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/swipe": {
			"post": {
				"summary": "phone operate - swipe",
				"deprecated": false,
				"description": "phone operate - swipe",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SwipeActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/drag": {
			"post": {
				"summary": "phone operate - drag",
				"deprecated": false,
				"description": "phone operate - drag",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DragActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/input": {
			"post": {
				"summary": "phone operate - input",
				"deprecated": false,
				"description": "phone operate - input",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InputActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/longClick": {
			"post": {
				"summary": "phone operate - long click",
				"deprecated": false,
				"description": "phone operate - long click",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LongClickActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/app": {
			"post": {
				"summary": "phone operate - operate app",
				"deprecated": false,
				"description": "phone operate - operate app",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AppActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": 0,
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/task/status": {
			"post": {
				"summary": "phone operate - check task status",
				"deprecated": false,
				"description": "phone operate - check task status",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ActionTaskStatusReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RActionTaskStatusResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0,
												"taskStatus": 0
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"taskId": 0,
												"taskStatus": 0
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/screenCap": {
			"post": {
				"summary": "phone screenCap",
				"deprecated": false,
				"description": "phone screenCap",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneScreenCapReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RPhoneScreenCapResVO"
								},
								"examples": {
									"1": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"url": ""
											},
											"status": ""
										}
									},
									"2": {
										"summary": "成功示例",
										"value": {
											"traceId": "",
											"code": 0,
											"msg": "",
											"data": {
												"url": ""
											},
											"status": "finish"
										}
									}
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/getCpyConnect": {
			"post": {
				"summary": "Get the CPY connection details.",
				"deprecated": false,
				"description": "Get the CPY connection details.",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/OpenApiGetCpyConnectReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ROpenApiPhoneCpyConnectResVO"
								},
								"example": {
									"traceId": "",
									"code": 0,
									"msg": "",
									"data": {
										"token": "",
										"host": ""
									},
									"status": "finish"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		}
	},
	"webhooks": {},
	"components": {
		"schemas": {
			"ProductSkuExtraPriceInfoVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Actual product ID",
						"format": "int64"
					},
					"name": {
						"type": "string",
						"description": "Fee name"
					},
					"price": {
						"type": "number",
						"description": "Fee amount"
					},
					"cycleName": {
						"type": "string",
						"description": "Billing cycle unit"
					}
				}
			},
			"ProductSkuInfoVO": {
				"type": "object",
				"properties": {
					"skuId": {
						"type": "integer",
						"description": "Product SKU ID, Used for creating mobile phones",
						"format": "int64"
					},
					"skuName": {
						"type": "string",
						"description": "Product SKU name"
					},
					"chargeType": {
						"type": "integer",
						"description": "Billing type: 1=On demand, 2=Time package, The charging method when the mobile phone is in operation."
					},
					"cycle": {
						"type": "integer",
						"description": "Billing cycle"
					},
					"cycleName": {
						"type": "string",
						"description": "Billing cycle unit"
					},
					"isAutoRenewal": {
						"type": "boolean",
						"description": "Whether to auto-renew, currently fixed as: true",
						"default": true
					},
					"cyclePrice": {
						"type": "number",
						"description": "Computing power cost"
					},
					"skuExtraPriceList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ProductSkuExtraPriceInfoVO",
							"description": "ProductSkuExtraPriceInfoVO"
						},
						"description": "Additional price information of product SKU"
					}
				}
			},
			"ProductInfoVO": {
				"type": "object",
				"properties": {
					"spuId": {
						"type": "integer",
						"description": "Product SPU ID",
						"format": "int64"
					},
					"spuName": {
						"type": "string",
						"description": "Product SKU Name"
					},
					"skuList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ProductSkuInfoVO",
							"description": "ProductSkuInfoVO"
						},
						"description": "Product SKU information list"
					}
				}
			},
			"RListProductInfoVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ProductInfoVO",
							"description": "ProductInfoVO"
						},
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"PhoneCreateReqVOCreate": {
				"type": "object",
				"properties": {
					"spuId": {
						"type": "integer",
						"description": "phone spuId, obtain through `Get product list` api",
						"format": "int64"
					},
					"skuId": {
						"type": "integer",
						"description": "phone skuId, obtain through `Get product list` api",
						"format": "int64"
					},
					"num": {
						"type": "integer",
						"description": "Purchase quantity of mobile phones, minimum value is 1",
						"minimum": 1
					},
					"realResolution": {
						"type": "boolean",
						"description": "whether to use the actual device resolution"
					},
					"brand": {
						"type": "string",
						"description": "brand name, obtain through `Get list brand` API"
					},
					"width": {
						"type": "integer",
						"description": "resolution width, If you fill in the brand name, it must be consistent with the value returned by the `Get list brand` API."
					},
					"height": {
						"type": "integer",
						"description": "resolution height, If you fill in the brand name, it must be consistent with the value returned by the `Get list brand` API."
					},
					"phoneNumber": {
						"type": "string",
						"description": "phone number, Set the mobile phone number stored within the device"
					},
					"configId": {
						"type": "integer",
						"description": "phone model id, Create the corresponding model of mobile phone based on the id obtain through `Get the list of models` api",
						"format": "int64"
					}
				},
				"required": ["spuId", "skuId", "num"]
			},
			"PhoneSimpleNetWorkResVO": {
				"type": "object",
				"properties": {
					"host": {
						"type": "string",
						"description": "Proxy host"
					},
					"port": {
						"type": "integer",
						"description": "Proxy port"
					},
					"account": {
						"type": "string",
						"description": "Account"
					},
					"password": {
						"type": "string",
						"description": "Password"
					},
					"region": {
						"type": "string",
						"description": "Region"
					},
					"num": {
						"type": "integer",
						"description": "Sequence number"
					},
					"countryCode": {
						"type": "string",
						"description": "Country code"
					},
					"countryName": {
						"type": "string",
						"description": "Country name"
					},
					"type": {
						"type": "string",
						"description": "Proxy type: 1.socks5 2.https 3.http"
					},
					"timezone": {
						"type": "string",
						"description": "Timezone"
					},
					"language": {
						"type": "string",
						"description": "Language"
					},
					"ip": {
						"type": "string",
						"description": "Actual IP address"
					},
					"latitude": {
						"type": "string",
						"description": "Latitude"
					},
					"longitude": {
						"type": "string",
						"description": "Longitude"
					},
					"bindCount": {
						"type": "integer",
						"description": "Number of bound phones",
						"format": "int64"
					},
					"status": {
						"type": "integer",
						"description": "Status: 0=Not detected 1=Detection passed 2=Detection failed"
					},
					"detectDataType": {
						"type": "integer",
						"description": "Detection data type: 1-Follow IP 2-Custom"
					},
					"groupId": {
						"type": "integer",
						"description": "Network group ID",
						"format": "int64"
					},
					"remark": {
						"type": "string",
						"description": "Remarks"
					}
				}
			},
			"PhoneAuthorizeResVO": {
				"type": "object",
				"properties": {
					"avatar": {
						"type": "string",
						"description": "Avatar URL"
					},
					"name": {
						"type": "string",
						"description": "Name"
					},
					"userId": {
						"type": "integer",
						"description": "User ID",
						"format": "int64"
					}
				}
			},
			"PhonePageListResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Phone ID",
						"format": "int64"
					},
					"name": {
						"type": "string",
						"description": "Phone name"
					},
					"groupId": {
						"type": "integer",
						"description": "Phone group ID",
						"format": "int64"
					},
					"groupName": {
						"type": "string",
						"description": "Phone group name"
					},
					"code": {
						"type": "string",
						"description": "Phone code (custom defined by business)"
					},
					"spuId": {
						"type": "integer",
						"description": "SPU ID",
						"format": "int64"
					},
					"spuName": {
						"type": "string",
						"description": "SPU name"
					},
					"skuId": {
						"type": "integer",
						"description": "SKU ID",
						"format": "int64"
					},
					"phoneModel": {
						"type": "string",
						"description": "Phone model"
					},
					"phoneBrand": {
						"type": "string",
						"description": "Phone brand"
					},
					"adbIp": {
						"type": "string",
						"description": "ADB IP information"
					},
					"adbPort": {
						"type": "string",
						"description": "ADB port"
					},
					"adbPassword": {
						"type": "string",
						"description": "ADB password"
					},
					"payType": {
						"type": "integer",
						"description": "Payment type: 1=Yearly/Monthly, 2=Per N minutes"
					},
					"skuName": {
						"type": "string",
						"description": "SKU name"
					},
					"cycleName": {
						"type": "string",
						"description": "Billing cycle name"
					},
					"cycleEnum": {
						"type": "string",
						"description": "Billing cycle enum value"
					},
					"expireStatus": {
						"type": "integer",
						"description": "Billing (expiration) status: 0=Expired, 1=Normal"
					},
					"networkId": {
						"type": "integer",
						"description": "Bound network ID",
						"format": "int64"
					},
					"channel": {
						"type": "string",
						"description": "Channel"
					},
					"powerOnTime": {
						"type": "string",
						"description": "Last power-on time"
					},
					"powerOffTime": {
						"type": "string",
						"description": "Last power-off time"
					},
					"expireTime": {
						"type": "string",
						"description": "Expiration time"
					},
					"expireDuration": {
						"type": "string",
						"description": "Expiration duration"
					},
					"nextPayTime": {
						"type": "string",
						"description": "Next payment time"
					},
					"status": {
						"type": "integer",
						"description": "Status",
						"enum": [1, 2, 4, 41, 6, 7]
					},
					"remark": {
						"type": "string",
						"description": "Remarks"
					},
					"userId": {
						"type": "integer",
						"description": "Authorized user ID",
						"format": "int64"
					},
					"createUser": {
						"type": "string",
						"description": "Creator"
					},
					"createTime": {
						"type": "string",
						"description": "Creation time"
					},
					"updateTime": {
						"type": "string",
						"description": "Last update time"
					},
					"networkResVO": {
						"$ref": "#/components/schemas/PhoneSimpleNetWorkResVO",
						"description": "Phone network information"
					},
					"authorizeResVO": {
						"$ref": "#/components/schemas/PhoneAuthorizeResVO",
						"description": "Authorized user information"
					},
					"cycle": {
						"type": "integer",
						"description": "Billing cycle"
					}
				}
			},
			"TableDataInfoPhonePageListResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Link ID"
					},
					"total": {
						"type": "integer",
						"description": "Total number of records",
						"format": "int64"
					},
					"rows": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/PhonePageListResVO",
							"description": "PhoneListResVO"
						},
						"description": "list data"
					},
					"code": {
						"type": "integer",
						"description": "Message status code"
					},
					"msg": {
						"type": "string",
						"description": "message content"
					}
				}
			},
			"PhoneResolutionListResVO": {
				"type": "object",
				"properties": {
					"screenWidth": {
						"type": "string",
						"description": "Phone Screen width"
					},
					"screenHeight": {
						"type": "string",
						"description": "Phone Screen height"
					}
				}
			},
			"RListPhoneResolutionListResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/PhoneResolutionListResVO",
							"description": "PhoneResolutionListResVO"
						},
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"PhoneTaskStatusResVO": {
				"type": "object",
				"properties": {
					"taskStatus": {
						"type": "integer",
						"description": "Phone operation task status code"
					},
					"taskStatusName": {
						"type": "string",
						"description": "Phone operation task status name"
					},
					"phoneStatus": {
						"type": "integer",
						"description": "Current phone status code"
					},
					"phoneStatusName": {
						"type": "string",
						"description": "Current phone status name"
					}
				}
			},
			"RPhoneTaskStatusResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/PhoneTaskStatusResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"PhoneSetNetworkReqVOUpdate": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
						"format": "int64"
					},
					"networkId": {
						"type": "integer",
						"description": "Network ID, The `Get network list` returns the ID contained in the data.If set, use the data of networkId, If not filled in, then use the transmitted network data to generate or modify the network data.",
						"format": "int64"
					},
					"host": {
						"type": "string",
						"description": "Proxy host, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"port": {
						"type": "integer",
						"description": "Proxy port, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"account": {
						"type": "string",
						"description": "Proxy account, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"password": {
						"type": "string",
						"description": "Proxy password, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"type": {
						"type": "string",
						"description": "Proxy type: 1=socks5 2=https 3=http, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"way": {
						"type": "string",
						"description": "Usage method: 1=Static IP 2=Dynamic IP, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"region": {
						"type": "string",
						"description": "Proxy Region, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"status": {
						"type": "integer",
						"description": "Proxy Check Status, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"name": {
						"type": "string",
						"description": "Network name, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"ip": {
						"type": "string",
						"description": "Actual IP address, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"countryName": {
						"type": "string",
						"description": "Proxy city name, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"countryCode": {
						"type": "string",
						"description": "Proxy city code, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"latitude": {
						"type": "string",
						"description": "Proxy Latitude, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"longitude": {
						"type": "string",
						"description": "Proxy Longitude, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"language": {
						"type": "string",
						"description": "Language, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"timezone": {
						"type": "string",
						"description": "Proxy Timezone, If a networkId is set, then the data corresponding to the networkId will be the primary source."
					},
					"udp": {
						"type": "integer",
						"description": "Whether UDP is enabled (1=enabled, 0=disabled)"
					},
					"tcp": {
						"type": "integer",
						"description": "Whether TCP is enabled (1=enabled, 0=disabled)"
					},
					"remark": {
						"type": "string",
						"description": "Remarks"
					},
					"groupId": {
						"type": "integer",
						"description": "Network group ID",
						"format": "int64",
						"default": -1
					},
					"detectDataType": {
						"type": "integer",
						"description": "Detection data type: 1=Follow IP 2=Custom"
					}
				},
				"required": ["id"]
			},
			"PhoneReqVODelete": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
						"format": "int64"
					},
					"configId": {
						"type": "integer",
						"description": "phone model id, Create the corresponding model of mobile phone based on the id obtain through `Get the list of models` api",
						"format": "int64"
					}
				},
				"required": ["id"]
			},
			"PhoneStartResVO": {
				"type": "object",
				"properties": {
					"screenWidth": {
						"type": "string",
						"description": "Phone Screen width resolution"
					},
					"screenHeight": {
						"type": "string",
						"description": "Phone Screen height resolution"
					},
					"taskId": {
						"type": "integer",
						"description": "Task ID, Used to query the execution status of the task",
						"format": "int64"
					}
				}
			},
			"RPhoneStartResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/PhoneStartResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"PhoneReqVOUpdate": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
						"format": "int64"
					},
					"configId": {
						"type": "integer",
						"description": "phone model id, Create the corresponding model of mobile phone based on the id obtain through `Get the list of models` api",
						"format": "int64"
					}
				},
				"required": ["id"]
			},
			"PhoneAdbInfoResVO": {
				"type": "object",
				"properties": {
					"phoneId": {
						"type": "integer",
						"description": "Phone ID",
						"format": "int64"
					},
					"adbIp": {
						"type": "string",
						"description": "ADB server IP address"
					},
					"adbPort": {
						"type": "string",
						"description": "ADB server port"
					},
					"adbPassword": {
						"type": "string",
						"description": "ADB password"
					}
				}
			},
			"RPhoneAdbInfoResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/PhoneAdbInfoResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"PhoneGetAdbInfoVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Phone ID,obtain through `Get phone list` api",
						"format": "int64"
					}
				},
				"required": ["id"]
			},
			"ApiPhoneFileInfoResVO": {
				"type": "object",
				"properties": {
					"path": {
						"type": "string",
						"description": "File or directory path"
					},
					"name": {
						"type": "string",
						"description": "File or directory name"
					},
					"type": {
						"type": "integer",
						"description": "Type: 1=Directory, 2=File"
					},
					"size": {
						"type": "integer",
						"description": "File size in bytes",
						"format": "int64"
					},
					"convertSize": {
						"type": "string",
						"description": "Human-readable converted size"
					}
				}
			},
			"TableDataInfoApiPhoneFileInfoResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Link ID"
					},
					"total": {
						"type": "integer",
						"description": "Total number of records",
						"format": "int64"
					},
					"rows": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ApiPhoneFileInfoResVO",
							"description": "ApiPhoneFileScanResVO"
						},
						"description": "list data"
					},
					"code": {
						"type": "integer",
						"description": "Message status code"
					},
					"msg": {
						"type": "string",
						"description": "message content"
					}
				}
			},
			"ApiPhoneFileScanPageResVO": {
				"type": "object",
				"properties": {
					"parentDir": {
						"type": "string",
						"description": "Parent directory to which it belongs"
					},
					"fileList": {
						"$ref": "#/components/schemas/TableDataInfoApiPhoneFileInfoResVO",
						"description": "File list"
					}
				}
			},
			"RApiPhoneFileScanPageResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/ApiPhoneFileScanPageResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"ApiPhoneFileScanReqVO": {
				"type": "object",
				"properties": {
					"pageSize": {
						"type": "integer",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1"
					},
					"pageNum": {
						"type": "integer",
						"description": "Current page count"
					},
					"phoneId": {
						"type": "integer",
						"description": "Phone ID,obtain through `Get phone list` api",
						"format": "int64"
					},
					"parentDir": {
						"type": "string",
						"description": "Parent directory,Get all the file directories under this folder"
					}
				},
				"required": ["phoneId"]
			},
			"ApiPhoneFileDownloadResVO": {
				"type": "object",
				"properties": {
					"downId": {
						"type": "string",
						"description": "File download ID,The download can be used to obtain the task result through `Get task info list`"
					},
					"taskId": {
						"type": "integer",
						"description": "Task ID,The taskId can be used to obtain the task result through `Get task info list`",
						"format": "int64"
					}
				}
			},
			"RApiPhoneFileDownloadResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/ApiPhoneFileDownloadResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"ApiPhoneFileDownloadReqVO": {
				"type": "object",
				"properties": {
					"phoneId": {
						"type": "integer",
						"description": "Phone ID,obtain through `Get phone list` api",
						"format": "int64"
					},
					"filePath": {
						"type": "string",
						"description": "File download path,The path for downloading the file"
					},
					"size": {
						"type": "string",
						"description": "File size in bytes,The size of the downloaded file"
					}
				},
				"required": ["phoneId", "filePath", "size"]
			},
			"PartSummary": {
				"type": "object",
				"properties": {
					"partNumber": {
						"type": "integer",
						"description": "partNumber"
					},
					"lastModified": {
						"type": "string",
						"description": "lastModified"
					},
					"eTag": {
						"type": "string",
						"description": "eTag"
					},
					"size": {
						"type": "integer",
						"description": "size",
						"format": "int64"
					}
				}
			},
			"UploadTaskVO": {
				"type": "object",
				"properties": {
					"teamId": {
						"type": "integer",
						"description": "Team ID",
						"format": "int64"
					},
					"uploadId": {
						"type": "string",
						"description": "UploadId for shard upload"
					},
					"fileIdentifier": {
						"type": "string",
						"description": "Unique file identifier (md5)"
					},
					"fileName": {
						"type": "string",
						"description": "File Name"
					},
					"bucketName": {
						"type": "string",
						"description": "Belonging bucket name"
					},
					"objectKey": {
						"type": "string",
						"description": "Key of the file"
					},
					"totalSize": {
						"type": "integer",
						"description": "file size（byte）"
					},
					"chunkSize": {
						"type": "integer",
						"description": "Each shard size（byte）"
					},
					"chunkNum": {
						"type": "integer",
						"description": "Number of shards"
					},
					"expireTime": {
						"type": "string",
						"description": "expiration time"
					},
					"uploadInfo": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/PartUploadUrl",
							"description": "com.wuyin.chameleon.common.model.res.PartUploadUrl"
						},
						"description": "分片上传信息"
					},
					"exitPartList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/PartSummary",
							"description": "com.wuyin.chameleon.common.model.res.PartSummary"
						},
						"description": "Completed uploaded shards"
					}
				}
			},
			"UploadTaskInfoVO": {
				"type": "object",
				"properties": {
					"finished": {
						"type": "boolean",
						"description": "Whether the upload is complete (whether the chunks have been merged)"
					},
					"uploadType": {
						"type": "string",
						"description": "上传存储的类型,minio/obs"
					},
					"taskRecord": {
						"$ref": "#/components/schemas/UploadTaskVO",
						"description": "Upload task record information"
					}
				}
			},
			"RUploadTaskInfoVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/UploadTaskInfoVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"UploadTaskInitReqVO": {
				"type": "object",
				"properties": {
					"identifier": {
						"type": "string",
						"description": "File unique identifier (MD5)"
					},
					"totalSize": {
						"type": "integer",
						"description": "File size,The total file size is supported, with a maximum of 5GB for file upload",
						"minimum": 1
					},
					"chunkSize": {
						"type": "integer",
						"description": "Chunk size,Calculate the number of Chunks uploaded based on totalSize and chunkSize(min 30MB, max 300MB)"
					},
					"fileName": {
						"type": "string",
						"description": "File name,The file name of the uploaded file (max 60 characters)",
						"maxLength": 60
					},
					"uploadType": {
						"type": "integer",
						"description": "Upload type: 1=Ordinary file upload,2=APP upload, 3=Advanced file import"
					},
					"phoneId": {
						"type": "integer",
						"description": "Phone ID,obtain through `Get phone list` api",
						"format": "int64"
					}
				},
				"required": [
					"identifier",
					"totalSize",
					"chunkSize",
					"fileName",
					"uploadType",
					"phoneId"
				]
			},
			"ApiUploadFileResVO": {
				"type": "object",
				"properties": {
					"phoneId": {
						"type": "integer",
						"description": "Phone ID",
						"format": "int64"
					},
					"envFileId": {
						"type": "integer",
						"description": "File push record ID",
						"format": "int64"
					},
					"taskId": {
						"type": "integer",
						"description": "Task ID",
						"format": "int64"
					}
				},
				"required": ["phoneId", "envFileId", "taskId"]
			},
			"RApiUploadFileResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/ApiUploadFileResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"UploadMergeReqVo": {
				"type": "object",
				"properties": {
					"etag": {
						"type": "string",
						"description": "ETag identifier for the uploaded part"
					},
					"partNumber": {
						"type": "integer",
						"description": "Part number of the upload (sequence number)",
						"default": 1
					}
				},
				"required": ["etag", "partNumber"]
			},
			"ApiUploadMinIOReqVO": {
				"type": "object",
				"properties": {
					"pushDestDir": {
						"type": "string",
						"description": "Target directory for pushing files (default: /sdcard/Download for non-images, /sdcard/DCIM for images)"
					},
					"phoneId": {
						"type": "integer",
						"description": "Phone ID,obtain through `Get phone list` api",
						"format": "int64"
					},
					"uploadId": {
						"type": "string",
						"description": "Upload Id for fragmented upload,The Upload Id obtained through the `Initialize upload task`"
					},
					"fileName": {
						"type": "string",
						"description": "File name,File name,The file name of the uploaded file"
					},
					"fileSize": {
						"type": "integer",
						"description": "File size,The total file size is supported",
						"format": "int64"
					},
					"liveImageUrl": {
						"type": "string",
						"description": "The path of the live file image is used for display"
					},
					"uploadType": {
						"type": "integer",
						"description": "File upload type: 1-Regular file, 2-Live stream file(default: 1-Regular file )"
					},
					"mergeList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/UploadMergeReqVo",
							"description": "ObsFilePartVO"
						},
						"description": "List of file chunks to merge"
					}
				},
				"required": ["phoneId"]
			},
			"Object": {
				"type": "object",
				"properties": {}
			},
			"ApiRemoteTokenResVO": {
				"type": "object",
				"properties": {
					"phoneId": {
						"type": "integer",
						"description": "Phone ID",
						"format": "int64"
					},
					"teamId": {
						"type": "integer",
						"description": "Team ID",
						"format": "int64"
					},
					"status": {
						"type": "integer",
						"description": "@ NotNull\nPhone status",
						"enum": [1, 2, 4, 41, 6, 7]
					},
					"token": {
						"type": "object",
						"properties": {},
						"description": "Authentication token"
					},
					"errorMsg": {
						"type": "string",
						"description": "Error message"
					},
					"chargeType": {
						"type": "integer",
						"description": "Billing type"
					},
					"nextPayTime": {
						"type": "string",
						"description": "Next payment time"
					}
				},
				"required": ["phoneId"]
			},
			"RListApiRemoteTokenResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ApiRemoteTokenResVO",
							"description": "ApiRemoteTokenResVO"
						},
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"ApiRemoteTokenReqVO": {
				"type": "object",
				"properties": {
					"phoneIds": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "List of phone IDs,obtain the id through `Get phone list` api",
						"minItems": 1
					},
					"forceKick": {
						"type": "boolean",
						"description": "Whether to force kick out",
						"default": true
					}
				}
			},
			"PhoneAppListReqVO": {
				"type": "object",
				"properties": {
					"pageSize": {
						"type": "integer",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1"
					},
					"pageNum": {
						"type": "integer",
						"description": "Current page count"
					},
					"id": {
						"type": "integer",
						"description": "Phone ID,obtain through `Get phone list` api",
						"format": "int64"
					},
					"apkName": {
						"type": "string",
						"description": "Application name",
						"pattern": "^[^%]*$"
					},
					"onlyShowInstalled": {
						"type": "boolean",
						"description": "Only show installed applications(default: false)",
						"default": false
					},
					"cateCode": {
						"type": "integer",
						"description": "Application category code,obtain through `Get app category list` api",
						"format": "int64",
						"default": -1
					},
					"shelfStatus": {
						"type": "integer",
						"description": "Shelf status: 1=On shelf, 0=Off shelf"
					}
				}
			},
			"AppCategoryVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "integer",
						"description": "category code"
					},
					"name": {
						"type": "string",
						"description": "category name"
					}
				}
			},
			"RListAppCategoryVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AppCategoryVO",
							"description": "com.wuyin.chameleon.common.model.wy.phone.res.AppCategoryVO"
						},
						"description": "Request return data"
					},
					"status": {
						"type": "string",
[...]
