{
	"openapi": "3.1.0",
	"info": {
		"title": "apidoc",
		"description": "",
		"version": "1.0.0"
	},
	"tags": [],
	"servers": [
		{
			"url": "https://user.pmock.com/api",
			"description": "Generated server url"
		}
	],
	"paths": {
		"/open/api/product/list": {
			"get": {
				"summary": "Get product list",
				"deprecated": false,
				"description": "get product information list",
				"tags": [],
				"parameters": [],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListProductInfoVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/create": {
			"post": {
				"summary": "Create phone",
				"deprecated": false,
				"description": "create a mobile phone",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneCreateReqVOCreate",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListPhoneInfoResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/list": {
			"get": {
				"summary": "Get phone list",
				"deprecated": false,
				"description": "get phone page list",
				"tags": [],
				"parameters": [
					{
						"name": "nameOrCode",
						"in": "query",
						"description": "phone name or phone number",
						"required": false,
						"schema": {
							"type": "string",
							"maxLength": 32
						}
					},
					{
						"name": "spuId",
						"in": "query",
						"description": "phone spuId, The `spuId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "skuId",
						"in": "query",
						"description": "phone skuId, The `skuId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "phone status, The `status` value contained in the current interface's returned result, 1=normal,2=restart,4=powerOff,41=powerOn,6=reset,7=One-click New Device",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "authorizeUserIds",
						"in": "query",
						"description": "Authorized User ID list, The `userId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "integer"
							}
						}
					},
					{
						"name": "expireStatus",
						"in": "query",
						"description": "Billing (expired) status: 0=expired, 1=normal",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "skuName",
						"in": "query",
						"description": "sku name, The `skuName` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "networkId",
						"in": "query",
						"description": "phone network ID, The `networkId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "groupId",
						"in": "query",
						"description": "phone grouping ID list, The `groupId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "groupCode",
						"in": "query",
						"description": "phone group code, Value is all_group=All groups,renew_expired=After the renewal period,un_group=Not grouped",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "groupType",
						"in": "query",
						"description": "phone group type, Value is system_group=System grouping,custom_group=Custom grouping",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "realResolution",
						"in": "query",
						"description": "Whether it is real machine resolution 0- No, 1- real machine resolution",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "tagIds",
						"in": "query",
						"description": "标签ID列表，筛选包含这些标签的设备（取并集）",
						"required": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "integer"
							}
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoPhonePageListResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/resolution/list": {
			"get": {
				"summary": "Get phone resolution list",
				"deprecated": false,
				"description": "get phone resolution list",
				"tags": [],
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"description": "Phone status, 1=normal,2=restart,4=powerOff,41=powerOn,6=reset,7=One-click New Device",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "spuId",
						"in": "query",
						"description": "spuId",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListPhoneResolutionListResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/task/status": {
			"get": {
				"summary": "Get phone task status",
				"deprecated": false,
				"description": "check the status of phone tasks",
				"tags": [],
				"parameters": [
					{
						"name": "operateType",
						"in": "query",
						"description": "Phone operation type: powerOn, reset, restart, renew",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "phoneId",
						"in": "query",
						"description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RPhoneTaskStatusResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/network/detect": {
			"post": {
				"summary": "Network detect",
				"deprecated": false,
				"description": "",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/NetworkDetectReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RCheckNetworkResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/setNetwork": {
			"post": {
				"summary": "Phone network settings",
				"deprecated": false,
				"description": "phone network settings",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneSetNetworkReqVOUpdate",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/remove": {
			"post": {
				"summary": "Delete phone",
				"deprecated": false,
				"description": "delete phone",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVODelete",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/start": {
			"post": {
				"summary": "Power on",
				"deprecated": false,
				"description": "phone power on",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVOUpdate",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RPhoneStartResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/stop": {
			"post": {
				"summary": "Power off",
				"deprecated": false,
				"description": "phone power off",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/restart": {
			"post": {
				"summary": "Restart phone",
				"deprecated": false,
				"description": "restart phone",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/reset": {
			"post": {
				"summary": "Factory Reset",
				"deprecated": false,
				"description": "factory reset",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/oneNew": {
			"post": {
				"summary": "One-Click New Device Setup",
				"deprecated": false,
				"description": "One-Click New Device Setup",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/clear": {
			"post": {
				"summary": "Phone accelerate",
				"deprecated": false,
				"description": "phone accelerate",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/getAdbInfo": {
			"post": {
				"summary": "Get ADB information",
				"deprecated": false,
				"description": "get ADB information",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneGetAdbInfoVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RPhoneAdbInfoResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/file/scan": {
			"post": {
				"summary": "Phone file scan",
				"deprecated": false,
				"description": "scan the mobile file directory",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiPhoneFileScanReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiPhoneFileScanPageResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/file/download": {
			"post": {
				"summary": "Phone file download",
				"deprecated": false,
				"description": "download mobile files to local device",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiPhoneFileDownloadReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiPhoneFileDownloadResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/minio/init/task": {
			"post": {
				"summary": "Initialize upload task",
				"deprecated": false,
				"description": "initialize upload task",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UploadTaskInitReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RUploadTaskInfoVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/completeAndPush": {
			"post": {
				"summary": "Complete and push",
				"deprecated": false,
				"description": "merge shards&push to mobile phone",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiUploadMinIOReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiUploadFileResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/getRemoteToken": {
			"post": {
				"summary": "Get remote token",
				"deprecated": false,
				"description": "get remote connection token",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiRemoteTokenReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListApiRemoteTokenResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/list": {
			"post": {
				"summary": "Get app list",
				"deprecated": false,
				"description": "get app list",
				"tags": [],
				"parameters": [
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneAppListReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoAppListV2ResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/categoryList": {
			"get": {
				"summary": "Get app category list",
				"deprecated": false,
				"description": "get app category list",
				"tags": [],
				"parameters": [],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListAppCategoryVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/install": {
			"post": {
				"summary": "Phone install app",
				"deprecated": false,
				"description": "phone install app",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneAppInstallReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RApiTaskResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/listUpgradeApp": {
			"post": {
				"summary": "Get can upgrade app list",
				"deprecated": false,
				"description": "get can upgrade app list",
				"tags": [],
				"parameters": [
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoAppListV2ResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/app/operate": {
			"post": {
				"summary": "Phone app operation",
				"deprecated": false,
				"description": "operation application (start/stop/restart/uninstall)",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneAppOperateReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/task/info/list": {
			"post": {
				"summary": "Get task info list",
				"deprecated": false,
				"description": "batch query task information (up to 100 items per query)",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TaskStatusListReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListTaskInfoResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/brand/list": {
			"post": {
				"summary": "Get list brand",
				"deprecated": false,
				"description": "get a list of supported mobile phone brands",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneBrandListReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RListPhoneBrandListResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/network/list": {
			"get": {
				"summary": "Get network list",
				"deprecated": false,
				"description": "",
				"tags": [],
				"parameters": [
					{
						"name": "host",
						"in": "query",
						"description": "proxy network ip/domain The `host` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "num",
						"in": "query",
						"description": "The `num` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "remark",
						"in": "query",
						"description": "remark",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "groupId",
						"in": "query",
						"description": "The `groupId` value contained in the current interface's returned result",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "groupCode",
						"in": "query",
						"description": "Network system packet code, all_group=All groups,renew_expired=After the renewal period,un_group=Not grouped",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "groupType",
						"in": "query",
						"description": "Network Packet Type, system_group=System grouping,custom_group=Custom grouping",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nums",
						"in": "query",
						"description": "Proxy serial numbers, comma-separated for multiple",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoNetworkListResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/getPhoneModelList": {
			"post": {
				"summary": "Get the list of models",
				"deprecated": false,
				"description": "",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ApiPhoneModelListReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RMapListApiPhoneModelInfoResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/template/getMarkList": {
			"get": {
				"summary": "Rpa get template list for mark",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "tag",
						"in": "query",
						"description": "模板tag",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nameOrCode",
						"in": "query",
						"description": "流程模板名称/code",
						"required": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoGetMarkTemplatePageResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/template/getList": {
			"get": {
				"summary": "Rpa get template list for team",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "nameOrCode",
						"in": "query",
						"description": "流程模板名称/code",
						"required": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoGetTemplatePageResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/template/collect": {
			"post": {
				"summary": "Add template to my team",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CollectTemplateReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/template/delete": {
			"post": {
				"summary": "Delete template from my team",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DeleteTemplateReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/getList": {
			"get": {
				"summary": "Rpa get task list",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "name",
						"in": "query",
						"description": "任务名称",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "任务状态",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "startTime",
						"in": "query",
						"description": "任务开始执行范围开始时间",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "endTime",
						"in": "query",
						"description": "任务开始执行范围结束时间",
						"required": false,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					},
					{
						"name": "templateName",
						"in": "query",
						"description": "关联流程(模板)名称",
						"required": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoGetTaskPageListResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/getInfo/{id}": {
			"get": {
				"summary": "Rpa get task detail",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"required": true,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RGetTaskInfoResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/getDetailList": {
			"get": {
				"summary": "Rpa get task detail list",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "pageNum",
						"in": "query",
						"description": "Current page count",
						"required": false,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "taskId",
						"in": "query",
						"description": "任务ID",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TableDataInfoGetTaskDetailInfoResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/add": {
			"post": {
				"summary": "Rpa add task",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddTaskReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RAddTaskResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/retryTask": {
			"post": {
				"summary": "Rpa retry task",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RetryTaskReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/retryDetailTask": {
			"post": {
				"summary": "Rpa retry task detail",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RetryDetailTaskReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/update": {
			"post": {
				"summary": "Rpa update task",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateTaskReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/updateDetail": {
			"post": {
				"summary": "Rpa update task detail",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateDetailTaskReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/stop": {
			"post": {
				"summary": "Rpa stop task",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/StopTaskReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/stopDetail": {
			"post": {
				"summary": "Rpa stop task detail",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/StopDetailTaskReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/delete": {
			"post": {
				"summary": "Rpa delete task",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DeleteTaskReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/rpa/task/deleteDetail": {
			"post": {
				"summary": "Rpa delete task detail",
				"deprecated": false,
				"description": "RPA",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DeleteDetailTaskReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RVoid"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/click": {
			"post": {
				"summary": "phone operate - click",
				"deprecated": false,
				"description": "phone operate - click",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ClickActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/doubleClick": {
			"post": {
				"summary": "phone operate - double click",
				"deprecated": false,
				"description": "phone operate - double click",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DoubleClickActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/swipe": {
			"post": {
				"summary": "phone operate - swipe",
				"deprecated": false,
				"description": "phone operate - swipe",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SwipeActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/drag": {
			"post": {
				"summary": "phone operate - drag",
				"deprecated": false,
				"description": "phone operate - drag",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DragActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/input": {
			"post": {
				"summary": "phone operate - input",
				"deprecated": false,
				"description": "phone operate - input",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InputActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/longClick": {
			"post": {
				"summary": "phone operate - long click",
				"deprecated": false,
				"description": "phone operate - long click",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LongClickActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/app": {
			"post": {
				"summary": "phone operate - operate app",
				"deprecated": false,
				"description": "phone operate - operate app",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AppActionReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RLong"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/action/task/status": {
			"post": {
				"summary": "phone operate - check task status",
				"deprecated": false,
				"description": "phone operate - check task status",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ActionTaskStatusReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RActionTaskStatusResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/phone/screenCap": {
			"post": {
				"summary": "phone screenCap",
				"deprecated": false,
				"description": "phone screenCap",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PhoneScreenCapReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RPhoneScreenCapResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/getCpyConnect": {
			"post": {
				"summary": "Get the CPY connection details.",
				"deprecated": false,
				"description": "Get the CPY connection details.",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/OpenApiGetCpyConnectReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ROpenApiPhoneCpyConnectResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		},
		"/open/api/getRemoteComponentToken": {
			"post": {
				"summary": "Obtain the token of the remote push streaming component.",
				"deprecated": false,
				"description": "Obtain the token of the remote push streaming component.",
				"tags": [],
				"parameters": [],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/GetRemoteComponentTokenReqVO",
								"description": ""
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RGetRemoteComponentTokenResVO"
								}
							}
						},
						"headers": {}
					}
				},
				"security": []
			}
		}
	},
	"webhooks": {},
	"components": {
		"schemas": {
			"GetRemoteComponentTokenReqVO": {
				"type": "object",
				"properties": {
					"phoneId": {
						"type": "integer",
						"description": "phone Id",
						"format": "int64"
					},
					"showNavigation": {
						"type": "boolean",
						"description": "Whether to show the three-button navigation, shown by default.",
						"default": true
					}
				},
				"required": ["phoneId"]
			},
			"RGetRemoteComponentTokenResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/GetRemoteComponentTokenResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"GetRemoteComponentTokenResVO": {
				"type": "object",
				"properties": {
					"url": {
						"type": "string",
						"description": "Remote push streaming component URL"
					}
				}
			},
			"OpenApiGetCpyConnectReqVO": {
				"type": "object",
				"properties": {
					"phoneId": {
						"type": "integer",
						"description": "Phone ID",
						"format": "int64"
					}
				},
				"required": ["phoneId"]
			},
			"ROpenApiPhoneCpyConnectResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/OpenApiPhoneCpyConnectResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"OpenApiPhoneCpyConnectResVO": {
				"type": "object",
				"properties": {
					"token": {
						"type": "string",
						"description": "token"
					},
					"host": {
						"type": "string",
						"description": "host"
					}
				}
			},
			"PhoneScreenCapReqVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
						"format": "int64"
					},
					"isRemove": {
						"type": "boolean",
						"description": "执行完成后是否删除手机内容的截图文件",
						"default": true
					}
				},
				"required": ["id"]
			},
			"RPhoneScreenCapResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/PhoneScreenCapResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"PhoneScreenCapResVO": {
				"type": "object",
				"properties": {
					"url": {
						"type": "string",
						"description": "ScreenCap URL, one hour validity period"
					}
				}
			},
			"ActionTaskStatusReqVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "phone code"
					},
					"taskId": {
						"type": "integer",
						"description": "taskId",
						"format": "int64"
					}
				},
				"required": ["code", "taskId"]
			},
			"RActionTaskStatusResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/ActionTaskStatusResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"ActionTaskStatusResVO": {
				"type": "object",
				"properties": {
					"taskId": {
						"type": "integer",
						"description": "task id",
						"format": "int64"
					},
					"taskStatus": {
						"type": "integer",
						"description": "task status -1=failed 0=running 1=success 2=time out"
					}
				}
			},
			"AppActionReqVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "phone code"
					},
					"opType": {
						"type": "integer",
						"description": "操作类型：1=启动APP、2=停止APP、3=清理数据(暂时不支持)、4=卸载APP\noperation type 1=start app、2=stop app、4=uninstall app"
					},
					"pkg": {
						"type": "string",
						"description": "APP包名\npackage name"
					}
				},
				"required": ["code", "opType", "pkg"]
			},
			"RLong": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"type": "integer",
						"description": "Request return data",
						"format": "int64"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"LongClickActionReqVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "phone code"
					},
					"posType": {
						"type": "integer",
						"description": "位置类型：1=节点，2=固定坐标，3=范围位置\nposition type：1=query，2=coordinate，3=coordinate range",
						"default": 1
					},
					"query": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "query:[key=value,key=value,...]"
					},
					"pos": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "坐标 X,Y\ncoordinate:[X,Y]"
					},
					"range": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "[x1,y1,x2,y2]\ncoordinate range:[X1,Y1,X2,Y2]"
					},
					"duration": {
						"type": "integer",
						"description": "duration"
					},
					"durationRange": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "持续时长范围\nduration range"
					}
				},
				"required": ["code"]
			},
			"InputActionReqVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "phone code"
					},
					"inputType": {
						"type": "integer",
						"description": "输入类型：1=直接输入，2=来源网络请求\ninput type：1=text，2=from url"
					},
					"text": {
						"type": "string",
						"description": "text content"
					},
					"url": {
						"type": "string",
						"description": "请求的URL\nurl"
					},
					"waitTime": {
						"type": "integer",
						"description": "等待结果时长\nwait time for result"
					}
				},
				"required": ["code"]
			},
			"DragActionReqVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "phone code"
					},
					"posType": {
						"type": "integer",
						"description": "位置类型：1=节点，2=固定坐标，3=范围位置\nposition1 type：1=query，2=coordinate，3=coordinate range",
						"default": 1
					},
					"posType2": {
						"type": "integer",
						"description": "位置类型：1=节点，2=固定坐标，3=范围位置\nposition2 type：1=query，2=coordinate，3=coordinate range",
						"default": 1
					},
					"query": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "query1:[key=value,key=value,...]"
					},
					"query2": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "query2:[key=value,key=value,...]"
					},
					"pos1": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "坐标 X,Y\ncoordinate1:[X,Y]"
					},
					"pos2": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "x2,y2\ncoordinate2:[X,Y]"
					},
					"range1": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "[x1,y1,x2,y2]\ncoordinate range1:[X1,Y1,X2,Y2]"
					},
					"range2": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "[x1,y1,x2,y2]\ncoordinate range2:[X1,Y1,X2,Y2]"
					},
					"duration": {
						"type": "integer",
						"description": "duration"
					},
					"durationRange": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "持续时长范围\nduration range"
					}
				},
				"required": ["code"]
			},
			"SwipeActionReqVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "phone code"
					},
					"posType": {
						"type": "integer",
						"description": "位置类型：1=节点，2=固定坐标，3=范围位置\nposition1 type：1=query，2=coordinate，3=coordinate range",
						"default": 1
					},
					"posType2": {
						"type": "integer",
						"description": "位置类型：1=节点，2=固定坐标，3=范围位置\nposition2 type：1=query，2=coordinate，3=coordinate range",
						"default": 1
					},
					"query": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "query1:[key=value,key=value,...]"
					},
					"query2": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "query2:[key=value,key=value,...]"
					},
					"pos1": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "坐标 X,Y\ncoordinate1:[X,Y]"
					},
					"pos2": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "x2,y2\ncoordinate2:[X,Y]"
					},
					"range1": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "[x1,y1,x2,y2]\ncoordinate range1:[X1,Y1,X2,Y2]"
					},
					"range2": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "[x1,y1,x2,y2]\ncoordinate range2:[X1,Y1,X2,Y2]"
					},
					"duration": {
						"type": "integer",
						"description": "duration"
					},
					"durationRange": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "持续时长范围\nduration range"
					}
				},
				"required": ["code"]
			},
			"DoubleClickActionReqVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "phone code"
					},
					"posType": {
						"type": "integer",
						"description": "位置类型：1=节点，2=固定坐标，3=范围位置\nposition type：1=query，2=coordinate，3=coordinate range",
						"default": 1
					},
					"query": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "query:[key=value,key=value,...]"
					},
					"pos": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "坐标 X,Y\ncoordinate:[X,Y]"
					},
					"range": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "[x1,y1,x2,y2]\ncoordinate range:[X1,Y1,X2,Y2]"
					}
				},
				"required": ["code"]
			},
			"ClickActionReqVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "phone code"
					},
					"posType": {
						"type": "integer",
						"description": "位置类型：1=节点，2=固定坐标，3=范围位置\nposition type：1=query，2=coordinate，3=coordinate range",
						"default": 1
					},
					"query": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "query:[key=value,key=value,...]"
					},
					"pos": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "坐标 X,Y\ncoordinate:[X,Y]"
					},
					"range": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "[x1,y1,x2,y2]\ncoordinate range:[X1,Y1,X2,Y2]"
					}
				},
				"required": ["code"]
			},
			"DeleteDetailTaskReqVO": {
				"type": "object",
				"properties": {
					"taskIds": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "任务ids"
					}
				},
				"required": ["taskIds"]
			},
			"RVoid": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"description": "Request return data",
						"type": "null"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"DeleteTaskReqVO": {
				"type": "object",
				"properties": {
					"taskId": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					}
				},
				"required": ["taskId"]
			},
			"StopDetailTaskReqVO": {
				"type": "object",
				"properties": {
					"taskIds": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "任务ids"
					}
				},
				"required": ["taskIds"]
			},
			"StopTaskReqVO": {
				"type": "object",
				"properties": {
					"taskId": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					}
				},
				"required": ["taskId"]
			},
			"UpdateDetailTaskReqVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					},
					"phoneId": {
						"type": "integer",
						"description": "手机id",
						"format": "int64"
					},
					"params": {
						"$ref": "#/components/schemas/MapString",
						"description": "流程模板参数构建结果"
					},
					"startTime": {
						"type": "integer",
						"description": "任务开始时间",
						"format": "int64"
					}
				},
				"required": ["id"]
			},
			"MapString": {
				"type": "object",
				"properties": {
					"key": {
						"type": "string"
					}
				}
			},
			"UpdateTaskReqVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					},
					"name": {
						"type": "string",
						"description": "任务名称"
					},
					"stopPhoneFlag": {
						"type": "integer",
						"description": "任务结束是否关机，1=是，0=否",
						"default": 0
					},
					"taskList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AddTaskListReqVO",
							"description": "AddTaskListReqVO"
						},
						"description": "任务集合"
					}
				},
				"required": ["id", "name"]
			},
			"AddTaskListReqVO": {
				"type": "object",
				"properties": {
					"phoneId": {
						"type": "integer",
						"description": "手机id",
						"format": "int64"
					},
					"params": {
						"$ref": "#/components/schemas/MapString",
						"description": "流程模板参数构建结果"
					},
					"startTime": {
						"type": "integer",
						"description": "开始执行时间",
						"format": "int64"
					}
				},
				"required": ["phoneId"]
			},
			"RetryDetailTaskReqVO": {
				"type": "object",
				"properties": {
					"detailTaskIds": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "详细任务id列表"
					}
				},
				"required": ["detailTaskIds"]
			},
			"RetryTaskReqVO": {
				"type": "object",
				"properties": {
					"taskId": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					}
				},
				"required": ["taskId"]
			},
			"AddTaskReqVO": {
				"type": "object",
				"properties": {
					"templateId": {
						"type": "integer",
						"description": "流程模板id",
						"format": "int64"
					},
					"name": {
						"type": "string",
						"description": "任务名称"
					},
					"stopPhoneFlag": {
						"type": "integer",
						"description": "任务结束是否关机，1=是，0=否",
						"default": 0
					},
					"remark": {
						"type": "string",
						"description": "备注"
					},
					"taskList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AddTaskListReqVO",
							"description": "AddTaskListReqVO"
						},
						"description": "任务集合"
					}
				},
				"required": ["templateId", "name"]
			},
			"RAddTaskResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/AddTaskResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"AddTaskResVO": {
				"type": "object",
				"properties": {
					"taskId": {
						"type": "integer",
						"description": "主任务id",
						"format": "int64"
					},
					"subTaskList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/SubTaskInfoVO",
							"description": "SubTaskInfoVO"
						},
						"description": "子任务列表"
					}
				}
			},
			"SubTaskInfoVO": {
				"type": "object",
				"properties": {
					"detailTaskId": {
						"type": "integer",
						"description": "子任务id",
						"format": "int64"
					},
					"phoneId": {
						"type": "integer",
						"description": "手机id",
						"format": "int64"
					}
				}
			},
			"TableDataInfoGetTaskDetailInfoResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Link ID"
					},
					"total": {
						"type": "integer",
						"description": "Total number of records",
						"format": "int64"
					},
					"rows": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/GetTaskDetailInfoResVO",
							"description": "GetTaskDetailInfoResVO"
						},
						"description": "list data"
					},
					"code": {
						"type": "integer",
						"description": "Message status code"
					},
					"msg": {
						"type": "string",
						"description": "message content"
					}
				}
			},
			"GetTaskDetailInfoResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					},
					"taskId": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					},
					"code": {
						"type": "string",
						"description": "手机编号"
					},
					"phoneName": {
						"type": "string",
						"description": "手机名称"
					},
					"status": {
						"type": "integer",
						"description": "任务状态 0-待执行 1-进行中 2-成功 3-失败"
					},
					"startTime": {
						"type": "string",
						"description": "任务开始时间"
					},
					"endTime": {
						"type": "string",
						"description": "任务结束时间"
					},
					"errorImgUrl": {
						"type": "string",
						"description": "任务异常截图url"
					},
					"remark": {
						"type": "string",
						"description": "备注"
					}
				}
			},
			"RGetTaskInfoResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/GetTaskInfoResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"GetTaskInfoResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					},
					"templateName": {
						"type": "string",
						"description": "流程模板名称"
					},
					"name": {
						"type": "string",
						"description": "任务名称"
					},
					"phoneNum": {
						"type": "integer",
						"description": "执行任务手机数"
					},
					"status": {
						"type": "integer",
						"description": "任务状态 0-待执行 1-进行中 2-成功 3-失败 4-部分成功"
					},
					"startTime": {
						"type": "string",
						"description": "任务开始时间"
					},
					"endTime": {
						"type": "string",
						"description": "任务结束时间"
					},
					"taskList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/TaskDetailInfoVO",
							"description": "TaskDetailInfoVO"
						},
						"description": "任务详情列表"
					},
					"createTime": {
						"type": "string",
						"description": "任务创建时间"
					}
				}
			},
			"TaskDetailInfoVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "任务详情id",
						"format": "int64"
					},
					"code": {
						"type": "string",
						"description": "手机编号"
					},
					"phoneName": {
						"type": "string",
						"description": "手机名称"
					},
					"startTime": {
						"type": "string",
						"description": "任务开始时间"
					},
					"endTime": {
						"type": "string",
						"description": "任务结束时间"
					},
					"params": {
						"$ref": "#/components/schemas/MapString",
						"description": "流程模板参数构建结果"
					},
					"failIdx": {
						"type": "integer",
						"description": "失败时的节点idx"
					},
					"errorImgUrl": {
						"type": "string",
						"description": "任务异常截图url"
					},
					"status": {
						"type": "integer",
						"description": "任务状态 0-待执行 1-进行中 2-成功 3-失败"
					},
					"nodeList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ApiRpaTaskNodeInfo",
							"description": "ApiRpaTaskNodeInfo"
						},
						"description": "节点列表"
					}
				}
			},
			"ApiRpaTaskNodeInfo": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "主键",
						"format": "int64"
					},
					"taskId": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					},
					"idx": {
						"type": "integer",
						"description": "节点idx"
					},
					"parentIdx": {
						"type": "integer",
						"description": "循环节点父级idx,0代表非循环节点"
					},
					"type": {
						"type": "integer",
						"description": "动作类型"
					},
					"name": {
						"type": "string",
						"description": "节点名称"
					},
					"start": {
						"type": "string",
						"description": "开始时间"
					},
					"cost": {
						"type": "integer",
						"description": "耗时,单位:毫秒",
						"format": "int64"
					},
					"status": {
						"type": "integer",
						"description": "状态"
					},
					"nextIdx": {
						"type": "integer",
						"description": "下一个节点idx"
					},
					"description": {
						"type": "string",
						"description": "描述信息,或失败原因"
					},
					"hasChildren": {
						"type": "boolean",
						"description": "是否拥有子节点"
					},
					"childrenList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ApiRpaTaskNodeInfo",
							"description": "ApiRpaTaskNodeInfo"
						},
						"description": "子节点列表"
					}
				}
			},
			"TableDataInfoGetTaskPageListResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Link ID"
					},
					"total": {
						"type": "integer",
						"description": "Total number of records",
						"format": "int64"
					},
					"rows": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/GetTaskPageListResVO",
							"description": "GetTaskPageListResVO"
						},
						"description": "list data"
					},
					"code": {
						"type": "integer",
						"description": "Message status code"
					},
					"msg": {
						"type": "string",
						"description": "message content"
					}
				}
			},
			"GetTaskPageListResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "任务id",
						"format": "int64"
					},
					"templateId": {
						"type": "integer",
						"description": "流程模板id",
						"format": "int64"
					},
					"stopPhoneFlag": {
						"type": "integer",
						"description": "任务结束是否关机 1-是 0-否"
					},
					"templateName": {
						"type": "string",
						"description": "流程模板名称"
					},
					"name": {
						"type": "string",
						"description": "任务名称"
					},
					"phoneNum": {
						"type": "integer",
						"description": "执行任务手机数"
					},
					"status": {
						"type": "integer",
						"description": "任务状态 0-待执行 1-进行中 2-成功 3-失败 4-部分失败"
					},
					"startTime": {
						"type": "string",
						"description": "任务开始时间"
					},
					"endTime": {
						"type": "string",
						"description": "任务结束时间"
					},
					"createTime": {
						"type": "string",
						"description": "任务创建时间"
					},
					"detailTaskCount": {
						"type": "integer",
						"description": "任务数量"
					},
					"sucDetailTaskCount": {
						"type": "integer",
						"description": "成功任务数量"
					},
					"retryCount": {
						"type": "integer",
						"description": "任务重试次数"
					},
					"remark": {
						"type": "string",
						"description": "备注"
					}
				}
			},
			"DeleteTemplateReqVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "流程模板id",
						"format": "int64"
					}
				},
				"required": ["id"]
			},
			"CollectTemplateReqVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "流程模板id",
						"format": "int64"
					}
				}
			},
			"TableDataInfoGetTemplatePageResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Link ID"
					},
					"total": {
						"type": "integer",
						"description": "Total number of records",
						"format": "int64"
					},
					"rows": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/GetTemplatePageResVO",
							"description": "GetTemplatePageResVO"
						},
						"description": "list data"
					},
					"code": {
						"type": "integer",
						"description": "Message status code"
					},
					"msg": {
						"type": "string",
						"description": "message content"
					}
				}
			},
			"GetTemplatePageResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "流程模板id",
						"format": "int64"
					},
					"phoneId": {
						"type": "integer",
						"description": "手机id",
						"format": "int64"
					},
					"wyTemplateId": {
						"type": "integer",
						"description": "wy流程模板状态",
						"format": "int64"
					},
					"code": {
						"type": "string",
						"description": "流程模板编号"
					},
					"originCode": {
						"type": "string",
						"description": "原流程模板code"
					},
					"name": {
						"type": "string",
						"description": "流程模板名称"
					},
					"description": {
						"type": "string",
						"description": "流程模板简介"
					},
					"sdkVersion": {
						"type": "string",
						"description": "sdk版本(spu名称)"
					},
					"screen": {
						"type": "string",
						"description": "分辨率大小"
					},
					"tag": {
						"type": "string",
						"description": "所属标签"
					},
					"iconUrl": {
						"type": "string",
						"description": "icon图标链接"
					},
					"params": {
						"$ref": "#/components/schemas/MapString",
						"description": "流程模板参数构建结果"
					},
					"newParams": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/TemplateParamsVO",
							"description": "模板参数信息"
						},
						"description": "流程模板参数构建结果"
					}
				}
			},
			"TemplateParamsVO": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": "名称"
					},
					"type": {
						"type": "string",
						"description": "流程模板id"
					},
					"required": {
						"type": "string",
						"description": "流程模板id"
					},
					"defaultValue": {
						"type": "string",
						"description": "流程模板id"
					},
					"fileInfo": {
						"$ref": "#/components/schemas/FileInfo",
						"description": "流程模板id"
					},
					"description": {
						"type": "string",
						"description": "说明"
					}
				}
			},
			"FileInfo": {
				"type": "object",
				"properties": {
					"status": {
						"type": "string",
						"description": "流程模板id"
					},
					"fileUrl": {
						"type": "string",
						"description": "流程模板id"
					},
					"name": {
						"type": "string",
						"description": "流程模板id"
					},
					"size": {
						"type": "string",
						"description": "流程模板id"
					}
				}
			},
			"TableDataInfoGetMarkTemplatePageResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Link ID"
					},
					"total": {
						"type": "integer",
						"description": "Total number of records",
						"format": "int64"
					},
					"rows": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/GetMarkTemplatePageResVO",
							"description": "GetMarkTemplatePageResVO"
						},
						"description": "list data"
					},
					"code": {
						"type": "integer",
						"description": "Message status code"
					},
					"msg": {
						"type": "string",
						"description": "message content"
					}
				}
			},
			"GetMarkTemplatePageResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "流程模板id",
						"format": "int64"
					},
					"wyTemplateId": {
						"type": "integer",
						"description": "wy流程模板状态",
						"format": "int64"
					},
					"name": {
						"type": "string",
						"description": "流程模板名称"
					},
					"description": {
						"type": "string",
						"description": "流程模板简介"
					},
					"sdkVersion": {
						"type": "string",
						"description": "sdk版本(spu名称)"
					},
					"screen": {
						"type": "string",
						"description": "分辨率大小"
					},
					"tag": {
						"type": "string",
						"description": "所属标签"
					},
					"iconUrl": {
						"type": "string",
						"description": "icon图标链接"
					},
					"code": {
						"type": "string",
						"description": "流程模板编号"
					},
					"params": {
						"$ref": "#/components/schemas/MapString",
						"description": "流程模板参数构建结果"
					},
					"newParams": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/TemplateParamsVO",
							"description": "模板参数信息"
						},
						"description": "流程模板参数构建结果"
					}
				}
			},
			"ApiPhoneModelListReqVO": {
				"type": "object",
				"properties": {
					"brand": {
						"type": "string",
						"description": "Brand name"
					},
					"sdkVersion": {
						"type": "integer",
						"description": "android version"
					}
				}
			},
			"RMapListApiPhoneModelInfoResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/MapListApiPhoneModelInfoResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"MapListApiPhoneModelInfoResVO": {
				"type": "object",
				"properties": {
					"key": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/key"
						}
					}
				}
			},
			"key": {
				"type": "object",
				"properties": {
					"model": {
						"type": "string",
						"description": "型号名称"
					},
					"modelId": {
						"type": "integer",
						"description": "型号 Id",
						"format": "int64"
					},
					"deviceName": {
						"type": "string",
						"description": "设备名称"
					}
				}
			},
			"TableDataInfoNetworkListResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Link ID"
					},
					"total": {
						"type": "integer",
						"description": "Total number of records",
						"format": "int64"
					},
					"rows": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/NetworkListResVO",
							"description": "NetworkListResVO"
						},
						"description": "list data"
					},
					"code": {
						"type": "integer",
						"description": "Message status code"
					},
					"msg": {
						"type": "string",
						"description": "message content"
					}
				}
			},
			"NetworkListResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Network ID",
						"format": "int64"
					},
					"name": {
						"type": "string",
						"description": "proxy network name"
					},
					"num": {
						"type": "integer",
						"description": "serial number, Used for displaying sorting"
					},
					"groupId": {
						"type": "integer",
						"description": "proxy network group id",
						"format": "int64"
					},
					"groupName": {
						"type": "string",
						"description": "proxy network group name"
					},
					"host": {
						"type": "string",
						"description": "proxy network ip/domain"
					},
					"port": {
						"type": "integer",
						"description": "proxy network port"
					},
					"account": {
						"type": "string",
						"description": "account"
					},
					"password": {
						"type": "string",
						"description": "password"
					},
					"type": {
						"type": "string",
						"description": "proxy network type 1=socks5,2=https,3=http"
					},
					"status": {
						"type": "integer",
						"description": "proxy network status, 0=undetected,1=Test passed,2=Test failed"
					},
					"detectDataType": {
						"type": "integer",
						"description": "Data type of the test results，1=Follow the IP 2=custom"
					},
					"bindCount": {
						"type": "integer",
						"description": "Number of associated mobile phones",
						"format": "int64"
					},
					"boxBindCount": {
						"type": "integer",
						"description": "The number of times the Magic Box mobile phone has been bound",
						"format": "int64"
					},
					"countryCode": {
						"type": "string",
						"description": "proxy network country code"
					},
					"timezone": {
						"type": "string",
						"description": "proxy network timezone"
					},
					"language": {
						"type": "string",
						"description": "proxy network language"
					},
					"countryName": {
						"type": "string",
						"description": "proxy network country name"
					},
					"region": {
						"type": "string",
						"description": "proxy network region"
					},
					"latitude": {
						"type": "string",
						"description": "proxy network latitude"
					},
					"longitude": {
						"type": "string",
						"description": "proxy network longitude"
					},
					"ip": {
						"type": "string",
						"description": "proxy network Actual IP address"
					},
					"remark": {
						"type": "string",
						"description": "remark"
					},
					"createTime": {
						"type": "string",
						"description": "create time"
					},
					"updateTime": {
						"type": "string",
						"description": "update time"
					},
					"expireTime": {
						"type": "string",
						"description": "代理到期时间"
					}
				}
			},
			"PhoneBrandListReqVO": {
				"type": "object",
				"properties": {
					"sdkVersion": {
						"type": "integer",
						"description": "Android version (currently supports: 11, 12, 13, 14, 15)"
					}
				},
				"required": ["sdkVersion"]
			},
			"RListPhoneBrandListResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/PhoneBrandListResVO",
							"description": "ApiBrandListResVO"
						},
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"PhoneBrandListResVO": {
				"type": "object",
				"properties": {
					"brand": {
						"type": "string",
						"description": "SDK version"
					},
					"resolutions": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Resolution",
							"description": "com.wuyin.chameleon.common.model.wy.phone.res.PhoneBrandListResVO.Resolution"
						},
						"description": "Available resolutions list"
					}
				}
			},
			"Resolution": {
				"type": "object",
				"properties": {
					"width": {
						"type": "integer",
						"description": "Resolution width in pixels"
					},
					"height": {
						"type": "integer",
						"description": "Resolution height in pixels"
					}
				}
			},
			"TaskStatusListReqVO": {
				"type": "object",
				"properties": {
					"phoneId": {
						"type": "integer",
						"description": "Phone ID,obtain through `Get phone list` api",
						"format": "int64"
					},
					"taskIds": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "List of task IDs",
						"maxItems": 100
					}
				},
				"required": ["phoneId", "taskIds"]
			},
			"RListTaskInfoResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/TaskInfoResVO",
							"description": "TaskInfoResVO"
						},
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"TaskInfoResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Task ID",
						"format": "int64"
					},
					"phoneId": {
						"type": "integer",
						"description": "phone ID",
						"format": "int64"
					},
					"teamId": {
						"type": "integer",
						"description": "Team ID",
						"format": "int64"
					},
					"userId": {
						"type": "integer",
						"description": "owner user ID",
						"format": "int64"
					},
					"opType": {
						"type": "string",
						"description": "Task type",
						"enum": [
							"installAppByUrl",
							"operatorApp",
							"phoneRestart",
							"phoneReset",
							"bindPhone",
							"installApp",
							"uploadFile",
							"powerOn",
							"phoneRenew",
							"powerOff",
							"release",
							"downFile",
							"removePhone",
							"rpaTask"
						]
					},
					"apkPkg": {
						"type": "string",
						"description": "Application package name"
					},
					"apkVersionCode": {
						"type": "integer",
						"description": "Application version code"
					},
					"downloadUrl": {
						"type": "string",
						"description": "Download URL"
					},
					"status": {
						"type": "integer",
						"description": "Task status (refer to TaskStatusEnum)",
						"enum": [0, 1, 2]
					},
					"startTime": {
						"type": "string",
						"description": "Task start time"
					},
					"endTime": {
						"type": "string",
						"description": "Task end time"
					},
					"remark": {
						"type": "string",
						"description": "Remarks"
					}
				}
			},
			"PhoneAppOperateReqVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
						"format": "int64"
					},
					"configId": {
						"type": "integer",
						"description": "phone model id, Create the corresponding model of mobile phone based on the id obtain through `Get the list of models` api",
						"format": "int64"
					},
					"pkg": {
						"type": "string",
						"description": "APK package name,Obtain through `Get App list`"
					},
					"appOp": {
						"type": "string",
						"description": "Operation to perform: uninstall=Uninstall App, start=Start App, restart=Restart App, stop=Stop App, clear=Clear App"
					}
				},
				"required": ["id", "pkg", "appOp"]
			},
			"PhoneReqVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
						"format": "int64"
					},
					"configId": {
						"type": "integer",
						"description": "phone model id, Create the corresponding model of mobile phone based on the id obtain through `Get the list of models` api",
						"format": "int64"
					}
				},
				"required": ["id"]
			},
			"TableDataInfoAppListV2ResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Link ID"
					},
					"total": {
						"type": "integer",
						"description": "Total number of records",
						"format": "int64"
					},
					"rows": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AppListV2ResVO",
							"description": "AppListV2ResVO"
						},
						"description": "list data"
					},
					"code": {
						"type": "integer",
						"description": "Message status code"
					},
					"msg": {
						"type": "string",
						"description": "message content"
					}
				}
			},
			"AppListV2ResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "apkId",
						"format": "int64"
					},
					"apkName": {
						"type": "string",
						"description": "APK name"
					},
					"apkPkg": {
						"type": "string",
						"description": "APK package name"
					},
					"apkIconUrl": {
						"type": "string",
						"description": "APK icon URL"
					},
					"installStatus": {
						"type": "integer",
						"description": "Installation status: -1=Not installed, 0=Installing, 1=Success, 2=Failed。defaultValue -1",
						"default": -1
					},
					"cateCode": {
						"type": "integer",
						"description": "Category code (-1 means uncategorized) defaultValue -1",
						"default": -1
					},
					"weight": {
						"type": "integer",
						"description": "Weight (higher values appear first) defaultValue 0",
						"default": 0
					},
					"needUpdate": {
						"type": "boolean",
						"description": "Whether update is needed defaultValue false",
						"default": false
					},
					"appVersionList": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AppVersionListV2ResVO",
							"description": "AppVersionListV2ResVO"
						},
						"description": "List of app versions"
					},
					"shelfStatus": {
						"type": "integer",
						"description": "Shelf status: 1=On shelf, 0=Off shelf"
					},
					"autoInstall": {
						"type": "boolean",
						"description": "auto install flag"
					}
				}
			},
			"AppVersionListV2ResVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Application Version ID",
						"format": "int64"
					},
					"apkVersionName": {
						"type": "string",
						"description": "APK version name"
					},
					"apkVersionCode": {
						"type": "integer",
						"description": "APK version code"
					},
					"installStatus": {
						"type": "integer",
						"description": "Installation status: -1=Not installed, 0=Installing, 1=Successfully installed, 2=Installation failed",
						"default": -1
					},
					"size": {
						"type": "integer",
						"description": "file size（byte）"
					},
					"shelfStatus": {
						"type": "integer",
						"description": "Listing status: 1=listed, 0=removed",
						"default": 0
					},
					"md5": {
						"type": "string",
						"description": "file md5"
					},
					"autoInstallFlag": {
						"type": "integer",
						"description": "0=close 1=open 2=ban"
					}
				}
			},
			"PhoneAppInstallReqVO": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "Phone ID, The `Get phone list` returns the ID contained in the data.",
						"format": "int64"
					},
					"configId": {
						"type": "integer",
						"description": "phone model id, Create the corresponding model of mobile phone based on the id obtain through `Get the list of models` api",
						"format": "int64"
					},
					"withG": {
						"type": "boolean",
						"description": "Whether to grant all permissions to the application",
						"default": false
					},
					"fileId": {
						"type": "integer",
						"description": "App version ID,Obtain (the id of the app version list) through `Get App list`",
						"format": "int64"
					},
					"apkPkg": {
						"type": "string",
						"description": "Application package name,Obtain through `Get App list`"
					},
					"upgrade": {
						"type": "boolean",
						"description": "Whether to upgrade the application, if it is true, install the latest app(default:false)",
						"default": false
					},
					"apkVersionName": {
						"type": "string",
						"description": "APK version name,Obtain through `Get App list`"
					},
					"apkVersionCode": {
						"type": "integer",
						"description": "APK version code,Obtain through `Get App list`"
					},
					"apkName": {
						"type": "string",
						"description": "Application name,Obtain through `Get App list`"
					}
				},
				"required": [
					"id",
					"fileId",
					"apkPkg",
					"apkVersionName",
					"apkVersionCode",
					"apkName"
				]
			},
			"RApiTaskResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"$ref": "#/components/schemas/ApiTaskResVO",
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"ApiTaskResVO": {
				"type": "object",
				"properties": {
					"taskId": {
						"type": "integer",
						"description": "Task ID, Used to query the execution status of the task",
						"format": "int64"
					}
				}
			},
			"RListAppCategoryVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AppCategoryVO",
							"description": "com.wuyin.chameleon.common.model.wy.phone.res.AppCategoryVO"
						},
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"AppCategoryVO": {
				"type": "object",
				"properties": {
					"code": {
						"type": "integer",
						"description": "category code"
					},
					"name": {
						"type": "string",
						"description": "category name"
					}
				}
			},
			"PhoneAppListReqVO": {
				"type": "object",
				"properties": {
					"pageSize": {
						"type": "integer",
						"description": "Number of records displayed per page\nThe default is1,and the maximum number of items in a single query is:1"
					},
					"pageNum": {
						"type": "integer",
						"description": "Current page count"
					},
					"id": {
						"type": "integer",
						"description": "Phone ID,obtain through `Get phone list` api",
						"format": "int64"
					},
					"apkName": {
						"type": "string",
						"description": "Application name",
						"pattern": "^[^%]*$"
					},
					"onlyShowInstalled": {
						"type": "boolean",
						"description": "Only show installed applications(default: false)",
						"default": false
					},
					"cateCode": {
						"type": "integer",
						"description": "Application category code,obtain through `Get app category list` api",
						"format": "int64",
						"default": -1
					},
					"shelfStatus": {
						"type": "integer",
						"description": "Shelf status: 1=On shelf, 0=Off shelf"
					}
				}
			},
			"ApiRemoteTokenReqVO": {
				"type": "object",
				"properties": {
					"phoneIds": {
						"type": "array",
						"items": {
							"type": "integer"
						},
						"description": "List of phone IDs,obtain the id through `Get phone list` api",
						"minItems": 1
					},
					"forceKick": {
						"type": "boolean",
						"description": "Whether to force kick out",
						"default": true
					}
				}
			},
			"RListApiRemoteTokenResVO": {
				"type": "object",
				"properties": {
					"traceId": {
						"type": "string",
						"description": "Request link ID"
					},
					"code": {
						"type": "integer",
						"description": "code"
					},
					"msg": {
						"type": "string",
						"description": "Request return message"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ApiRemoteTokenResVO",
							"description": "ApiRemoteTokenResVO"
						},
						"description": "Request return data"
					},
					"status": {
						"type": "string",
						"description": "Status, representing whether this is an instant completion or waiting state, finish or pending",
						"default": "finish"
					}
				},
				"required": ["traceId", "code", "msg", "status"]
			},
			"ApiRemoteTokenResVO": {
				"type": "object",
				"properties": {
					"phoneId": {
						"type": "integer",
						"description": "Phone ID",
						"format": "int64"
					},
					"teamId": {
						"type": "integer",
						"description": "Team ID",
						"format": "int64"
					},
					"status": {
						"type": "integer",
						"description": "@ NotNull\nPhone status",
						"enum": [1, 2, 4, 41, 6, 7]
					},
					"token": {
						"type": "object",
						"properties": {},
						"description": "Authentication token"
					},
					"errorMsg": {
						"type": "string",
						"description": "Error message"
					},
					"chargeType": {
						"type": "integer",
						"description": "Billing type"
					},
					"autoInstallStatus": {
						"type": "integer",
						"description": "Auto install status"
					},
					"nextPayTime": {
						"type": "string",
						"description": "Next payment time"
					}
				},
				"required": ["phoneId"]
			},
			"ApiUploadMinIOReqVO": {
				"type": "object",
				"properties": {
					"pushDestDir": {
						"type": "string",
						"description": "Target directory for pushing files (default: /sdcard/Download for non-images, /sdcard/DCIM for images)"
					},
					"phoneId": {
						"type": "integer",
						"description": "Phone ID,obtain through `Get phone list` api",
						"format": "int64"
					},
					"uploadId": {
						"type": "string",
						"description": "Upload Id for fragmented upload,The Upload Id obtained through the `Initialize upload task`"
					},
					"fileName": {
						"type": "string",
						"description": "File name,File name,The file name of the uploaded file"
					},
					"fileSize": {
						"type": "integer",
						"description": "File size,The total file size is supported",
						"format": "int64"
					},
[...]
